.nav-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    h1{
        font-weight: 300;   
    }
    button{
        border: rgb(0, 5, 43) solid 3px;
        padding: 0.5rem;
        cursor: pointer;
        transition: 0.75s;
    }
    button:hover{
        background-color: rgb(0, 5, 43);
        color: #fff;
    }
}