.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.time-control{
    display: flex;
    width: 60%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    input{
        width: 100%;
        padding: 1rem 0rem;
    }
}
.play-control{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    justify-content: space-between;
    svg{
        cursor: pointer;
    }
}